.star-wars-nav {
    text-align: center;
    padding: 20px 0;
    height: 80px; /* Adjust the height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.star-wars-nav .logo {
    color: #ffe81f;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: 36px;
    margin-top: 10px; 
}

.dropdown-menu{
    background-color: #36393e;
    border-radius: 20px;
    backdrop-filter: blur(4px);
    height: 200%;
    width: 300px;
    text-align: center;
    overflow: scroll;
}

.btn {
    margin-right: 50px;
}